{% extends 'index.html' %}
{% load static %}
{% block title %} <title>Faceit</title> {% endblock %}
<link rel="stylesheet" href="{% static 'css/base.css' %}">

{% block content %}
    <div>   FACEIT — киберспортивная платформа, основанная в Лондоне в 2012 году.
        Компания учреждала лиги для таких игр, как:
        <ul>
            <li>Counter-Strike: Global Offensive</li> <li>League of Legends</li> <li>Rocket League</li>
        <li>Tom Clancy’s Rainbow Six Siege</li> <li>Dota 2</li> <li>Team Fortress 2</li>
        </ul>
    </div>
    <div class="btns">
        <button type="button" class="btn" onclick="knopka()">FACEIT ALERT</button>
    </div>

    <img src="{% static 'pic/face.png' %}" align="middle">

    <script src="{% static 'js/button alert.js' %}"></script>
{% endblock %}
