#base{
    display: flex;
  height: 100%;
}
#topi{
    color: cornflowerblue;
    font-size: 30;
}
.lvl{
    color: red;
   }
.cen{
    text-align: center;
}

.btns{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 5%;
}
.btn{
    padding: 10px 20px;
    color: blue;
    border: 2px solid blue;
    cursor: pointer;
}

