<DOCKTYPE html>
    <html lang="ru">
    <head>
        <meta charset="UTF-8">
        <meta title="Глава 1!">
    </head>
    <body>
        <center><h1>Приветствую на первой тестовой странице, посвященной различным
            рангам на игровой площадке FACEIT!</h1></center>
       <center><div><font size="5">На картинке ниже мы можем наблюдать
           среднестатистическую аватарку гуля в Steam</font></div></center>
        <center><img src="pic/Satoru.jpg", title="Satoru Gojo", width="300"></center>

        <center><h2>Начнём же краткий экскурс.</h2></center>

        <h2><center>Первый lvl Faceit.</center></h2>
        <center><img src="pic/1lvl.jpeg", title="Первый lvl Faceit", width="170"></center>
        <div><font size="5"><center>Это самый первый уровень игрока на Faceit,
            что олицетворяет его довольно слабую игру.</center></font></div>

        <center><h2>Десятый lvl Faceit.</h2></center>
        <center><img src="pic/10lvl.jpg", title="Первый lvl Faceit", width="200"></center>
        <div><font size="5"><center>На данной картинке мы видим уже практически самого опытного игрока,
            который имеет десятый уровень Faceit, что олицетворяет хороший уровень игры.</center></font></div>
    </body>
    </html>
</DOCKTYPE>