<DOCKTYPE html>
    <html lang="ru">
    <head>
        <title>Faceit LVL</title>
        <meta charset="UTF-8">
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    </head>
    <body>
 <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
      <ul class="nav nav-pills">
        <li class="nav-item"><a href="index" class="nav-link active" aria-current="page">Статья "Faceit LVL"</a></li>
        <li class="nav-item"><a href="Faceit" class="nav-link">Статья "Faceit"</a></li>
        <li class="nav-item"><a href="blast" class="nav-link">Статья "BLAST"</a></li>
        <li class="nav-item"><a href="hltv" class="nav-link">Статья "HLTV"</a></li>
      </ul>
    </header>
  </div>
    <div class="cen">
        <h1>Приветствую на первой тестовой странице, посвященной различным
            рангам на игровой площадке FACEIT!</h1>
       <div id="topi">На картинке ниже мы можем наблюдать
           среднестатистическую аватарку гуля в Steam</div>
        <img src="{% static 'pic/satoru.jpg' %}" title="Satoru Gojo" width="300">

        <h2>Начнём же краткий экскурс.</h2>

        <h2>Первый lvl Faceit.</h2>
        <img src="{% static 'pic/1lvl.jpg' %}" title="Первый lvl Faceit" width="170">
        <div> Это самый первый уровень игрока на Faceit,
            что олицетворяет его довольно слабую игру.</div>

        <h2 id="lvl">Десятый lvl Faceit.</h2>
        <img src="{% static 'pic/10lvl.jpg' %}" title="Первый lvl Faceit" width="200">
        <div> На данной картинке мы видим уже практически самого опытного игрока,
            который имеет десятый уровень Faceit, что олицетворяет хороший уровень игры.</div>
        </div>
    </body>
    </html>
</DOCKTYPE>