<DOCKTYPE html>
    <html lang="ru">
    <head>
        <title>Faceit LVL</title>
        <meta charset="UTF-8">
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    </head>
    <body>
 <div id="content" class="container">
{% include 'FaceitLVL.html' %}
 </div>
    <script>
                $(document).ready(function() {
            $('a[data-article]').on('click', function(e) {
                e.preventDefault();
                var article = $(this).data('article');
                $.ajax({
                    url: '/get_article/' + article + '/',
                    method: 'GET',
                    success: function(data) {
                        $('#content').html(data);
                    },
                    error: function(xhr, status, error) {
                        console.error('Ошибка загрузки статьи:', error);
                    }
                });
            });
        });
    </script>
    </body>
    </html>
</DOCKTYPE>